[mariadb]
server_id=3001                  # used to uniquely identify the server
log-basename=mariadb-replica         # used to be independent of hostname changes 
                                # (otherwise name is <datadir>/mysql-bin)
#binlog-format=MIXED            #default 